*{
letter-spacing: 1.2px;
word-spacing: 3px;
border-collapse: collapse !important;
}
header,main{
    width: 90%;
    margin: 10px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
header p{
    margin: 0px;
    font-size: 1.1rem;
}
main{
    margin: 0px auto ;
    border-top: none;
}
.customer-details{
    height: 5vh;
    width: 100%;
    display: flex;
    border-bottom:  2px solid black;
    justify-content: space-around;
    
    
}
.table-area{
    min-height: 40vh;
    width: 100%;
    margin: 0;

}
footer {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-top: none;
    height: 10vh;
}
thead tr{
    border-bottom: 2px solid  red;
}
footer p {
    padding: 10px 20px;
    text-align: right ;
 
}
#total{
    
    text-align: left !important;
}
